* {
    font-family: Arial, Helvetica, sans-serif;
}
.form-wrap {
    display: flex;
    justify-content: center;
}
.form > a {
    color: black;
    text-align: center;
}
.form {
    margin: 0 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.form > h1 {
    display: flex;
    justify-content: center;
}
.form input, button {
    margin: 10px 0;
    height: 40px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border: none;
}
.form > button {
    background-color: #8EAC8D;
    font-size: large;
}
.form > button:hover {
    cursor: pointer;
}