#seller-card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.274);
    border-radius: 15px;
    width: 100%;
    height: 230px;
    padding: 15px;
    gap: 20px;
}
#seller-card-icon, #seller-card-icon > img {
    max-width: 200px;
    height: 100%;
    /* background-color: rgb(216, 216, 216); */
    border-radius: 10px;
}
.seller-card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.badge-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.badge {
    color: #11601D;
}